body{background-color: beige;
    text-align: center;
}
h1{
    font-size: 30px;
    color: turquoise;
}
h2{
    color: rebeccapurple;
    font-size: 40px;
    background-color: aqua;
}
.big{
    font-size: 60px;
}
.uppercase{
    text-transform: uppercase;
}
.big.uppercase{
    color: cyan;
}
span{color: cadetblue;
font-size: 80px;
font-family: Georgia, 'Times New Roman', Times, serif;}
.title{
    text-align: center;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: chartreuse;
}